API_PATH="/api"
VER_PATH="/v1"
API_PORT="8080"
PRM_PORT="8081"
GIN_DEBUG="false"
DB_USER="root"
DB_PASS="asdasd"
DB_HOST="127.0.0.1"
DB_NAME="test"
DB_PORT="5432"
VSS_DB_PSQL_MAX_OPEN_CONNECTIONS=50
VSS_DB_PSQL_MAX_IDLE_CONNECTIONS=50