API_PATH="/api"
VER_PATH="/v1"
API_PORT="8080"
PRM_PORT="8081"
GIN_DEBUG="false"
DB_USER="root"
DB_PASS="asdasd"
DB_HOST="127.0.0.1"
DB_NAME="test"
DB_PORT="5432"
SQL_MAX_OPEN_CONNECTIONS=50
SQL_MAX_IDLE_CONNECTIONS=50
AWS_ACCESS_KEY_ID="AKIXXXXXXXXXXXXXXXXX"
AWS_SECRET_ACCESS_KEY="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
AWS_CW_REGION="eu-west-1"
AWS_CW_GROUP="api1-audit-log"
AWS_CW_STREAM="log"
